RFC 3986 not correctly implemented

`stringify` is [supposed to be](https://github.com/ljharb/qs/blob/13b2aa120ef8a08940899a55a75ce53e52c6ef84/lib/utils.js#L70) implementing [RFC 3986](https://www.ietf.org/rfc/rfc3986.txt) but RFC 3986 specifies reserved characters as:

> ```
> reserved    = gen-delims / sub-delims
> gen-delims  = ":" / "/" / "?" / "#" / "[" / "]" / "@"
> sub-delims  = "!" / "$" / "&" / "'" / "(" / ")"
>                   / "*" / "+" / "," / ";" / "="
>```

However `$` (as pointed out in [request#2129](https://github.com/request/request/issues/2129)) will be encoded as `%24`. I guess this is a bug?

It seems like that linked issue comes from `querystring`, not `qs`, but I'd certainly like to comply with RFC 3986.

A PR, with at least failing tests, would be very appreciated.

I may make this "bugfix" a breaking change, however, just to be safe.

@ljharb can we just fix with something  like this ? (it's on MDN doc for encodeURI)
```
function fixedEncodeURI (str) {
    return encodeURI(str).replace(/%5B/g, '[').replace(/%5D/g, ']');
}
```

@vpanjganj that's very unlikely to be the best solution, but i'd first need failing test cases to evaluate it.

I think `#`, `[` and `]` should be encoded in query string; see RFC 3986 section 3:
```
unreserved = ALPHA / DIGIT / "-" / "." / "_" / "˜"
[...]
pct-encoded = "%" HEXDIG HEXDIG
[...]
sub-delims = "!" / "$" / "&" / "’" / "(" / ")" / "*" / "+" / "," / ";" / "="
[...]
pchar = unreserved / pct-encoded / sub-delims / ":" / "@"
[...]
query = *( pchar / "/" / "?" )
```

Note that URLSearchParams encode all reserved chars:
```js
const qs = new URLSearchParams();

qs.set('sub-delims', "!$%'()*+,;=");
qs.set('other', ":@");
console.assert(qs.toString() === "sub-delims=%21%24%25%27%28%29*%2B%2C%3B%3D&other=%3A%40")
```

It's not because they are valid that they shouldn't be encoded.